In [28]:
##import the data from the files

import os
from os import path
import pandas as pd
import pickle
from pandas_profiling import ProfileReport
from sklearn.model_selection import train_test_split

In [3]:
path = "F:/"

S1_Dataset_Path = os.path.join(path, "Assignments", "S1_Dataset" )
S2_Dataset_Path = os.path.join(path, "Assignments", "S2_Dataset")

## Searching for the directory


data_path = os.path.join(S1_Dataset_Path, "d1p01M")
s1_data = pd.read_csv(data_path, header=None)
print("Importing Data!!! Done")

Importing Data!!! Done

In [4]:
s1_data.info()
s1_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       401 non-null    float64
 1   1       401 non-null    float64
 2   2       401 non-null    float64
 3   3       401 non-null    float64
 4   4       401 non-null    int64
 5   5       401 non-null    float64
 6   6       401 non-null    float64
 7   7       401 non-null    float64
 8   8       401 non-null    int64
dtypes: float64(7), int64(2)
memory usage: 28.3 KB

      0        1        2         3  4     5       6       7  8
0  0.00  0.27203  1.00820 -0.082102  1 -63.5  2.4252  924.25  1
1  0.50  0.27203  1.00820 -0.082102  1 -63.0  4.7369  921.75  1
2  1.50  0.44791  0.91636 -0.013684  1 -63.5  3.0311  923.75  1
3  1.75  0.44791  0.91636 -0.013684  1 -63.0  2.0371  921.25  1
4  2.50  0.34238  0.96229 -0.059296  1 -63.5  5.8920  920.25  1

In [5]:


path = "F:/"

S1_Dataset_Path = os.path.join(path, "Assignments", "S1_Dataset" )
S2_Dataset_Path = os.path.join(path, "Assignments", "S2_Dataset")

s1_data = pd.DataFrame()

for dataset in [S1_Dataset_Path, S2_Dataset_Path]:
    data_path = os.path.join(path,dataset)

for filename in os.listdir(S1_Dataset_Path):
    if filename != "README.txt" : 
        data_path = os.path.join(S1_Dataset_Path,filename)
        data = pd.read_csv(data_path, header=None)
        s1_data = s1_data.append(data, ignore_index=True)
        

    
    
s1_data.columns = ['Time', 'Frontal_Acc', 'Vertical_Acc', 'Lateral_Acc', 'ID', 'RSSI', 'Phase', ' Frequency', 'Activity' ]

print("Updated successfully!!! Done!!")

s1_data.info()

Updated successfully!!! Done!!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52482 entries, 0 to 52481
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Time          52482 non-null  float64
 1   Frontal_Acc   52482 non-null  float64
 2   Vertical_Acc  52482 non-null  float64
 3   Lateral_Acc   52482 non-null  float64
 4   ID            52482 non-null  int64
 5   RSSI          52482 non-null  float64
 6   Phase         52482 non-null  float64
 7    Frequency    52482 non-null  float64
 8   Activity      52482 non-null  int64
dtypes: float64(7), int64(2)
memory usage: 3.6 MB

In [6]:
os.getcwd()

'F:\\Assignments'

In [7]:
s1_data

,Time,Frontal_Acc,Vertical_Acc,Lateral_Acc,ID,RSSI,Phase,Frequency,Activity
0,0.00,0.272030,1.00820,-0.082102,1,-63.5,2.4252,924.25,1
1,0.50,0.272030,1.00820,-0.082102,1,-63.0,4.7369,921.75,1
2,1.50,0.447910,0.91636,-0.013684,1,-63.5,3.0311,923.75,1
3,1.75,0.447910,0.91636,-0.013684,1,-63.0,2.0371,921.25,1
4,2.50,0.342380,0.96229,-0.059296,1,-63.5,5.8920,920.25,1
...,...,...,...,...,...,...,...,...,...
52477,485.00,0.330660,0.95081,-0.230340,1,-57.0,6.2188,921.75,1
52478,485.08,0.330660,0.95081,-0.230340,3,-58.0,0.8805,921.75,1
52479,485.50,0.330660,0.95081,-0.230340,1,-60.5,5.0054,924.75,1
52480,488.25,0.119600,0.82449,0.009122,4,-56.0,4.9087,925.75,4
52481,488.75,0.072698,1.31830,0.009122,4,-56.5,1.0370,922.75,4

In [20]:
## Dumping the raw data in the pickle. Dump to save it in the binary format

with open("data_format", 'wb') as pickle_file:
     pickle.dump(s1_data, pickle_file)

In [25]:
## The dataframe needs to be coverted to csv

data_csv = s1_data.to_csv("filename.csv", index=False)

In [26]:

## The csv now has to be read as a Dataframe so we simply convert it to the DataFrame
df = pd.read_csv("filename.csv")

In [27]:
df

,Time,Frontal_Acc,Vertical_Acc,Lateral_Acc,ID,RSSI,Phase,Frequency,Activity
0,0.00,0.272030,1.00820,-0.082102,1,-63.5,2.4252,924.25,1
1,0.50,0.272030,1.00820,-0.082102,1,-63.0,4.7369,921.75,1
2,1.50,0.447910,0.91636,-0.013684,1,-63.5,3.0311,923.75,1
3,1.75,0.447910,0.91636,-0.013684,1,-63.0,2.0371,921.25,1
4,2.50,0.342380,0.96229,-0.059296,1,-63.5,5.8920,920.25,1
...,...,...,...,...,...,...,...,...,...
52477,485.00,0.330660,0.95081,-0.230340,1,-57.0,6.2188,921.75,1
52478,485.08,0.330660,0.95081,-0.230340,3,-58.0,0.8805,921.75,1
52479,485.50,0.330660,0.95081,-0.230340,1,-60.5,5.0054,924.75,1
52480,488.25,0.119600,0.82449,0.009122,4,-56.0,4.9087,925.75,4
52481,488.75,0.072698,1.31830,0.009122,4,-56.5,1.0370,922.75,4

In [31]:
## Once the dataframe is completed we can move on to DataProfiling

new_profile = ProfileReport(df)
new_profile.to_file("Analysis_Report.html")

## The features are not highly coorelated as per the data.

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=22.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))